nav {
    display: flex;
    justify-content: space-between;
    margin: 50px 230px;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav ul {
    display: flex;
    align-items: center;
}

.header {
    background: #FFF8F3;
    background-image: url(../images/header_bg.png), url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left;
}

.orange {
    color: #FD6E0A;
}

* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.text {
    font-weight: 800;
    font-size: 45px;
}

.text1 {
    margin-left: 210px;
    display: flex;
}

.btn-primary {
    color: #FFFFFF;
    border: 0;
    border-radius: 5px;
    background-color: #FD6E0A;
    height: 30px;
    font-weight: 700;
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;


}

.banner {
    display: flex;
    align-items: center;
    margin: 0 200px;
}

.banner-title {
    font-weight: 700;
    font-size: 85px;
}

.banner-sub-title {
    font-weight: 600;
    font-size: 45px;
}

.banner-direction {
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}

main {
    max-width: 1140px;
    text-align: center;
    margin: 0 auto;
}

.about {
    margin-top: 130px;
    background: #FFF8F3;
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
}

.section-title {
    text-align: center;
    margin-bottom: 30px;
    color: #181818;
    font-weight: 700;
    font-size: 35px;

}

.section-description {
    color: #757575;
    margin-bottom: 30px;
    text-align: center;
    font-size: 18px;
    line-height: 30px;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
}

.title-info {
    color: #757575;
    font-size: 20px;
}

.title-description {
    font-weight: 400;
    color: #474747;
    font-size: 20px;

}

.skills-container {
    display: flex;
    gap: 24px;
    margin-top: 130px;
}

.skills {

    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 30px;
    height: 377px;

}

.skill-description {
    font-weight: 400;
    font-size: 16px;
    color: #757575;
    line-height: 28px;
    margin-top: 20px;
    text-align: left;
}

.What-i-do {
    margin-top: 130px;
}

.skill-title {
    font-weight: 700;
    font-size: 20px;
    margin-top: 30px;
    text-align: left;
}

.img1 {
    margin-right: 150px;
}

.title {
    display: flex;
    gap: 200px;
}

.qualification {
    margin-top: 130px;
}

.education {
    text-align: left;
    margin-top: 115px;
    margin-bottom: 30px;
    color: #474747
}
.experience{
    text-align: left;
    margin-top: 115px;
    margin-bottom: 30px;
    color: #474747;

}

.master {
    
    color: #474747;
    margin-bottom: 10px;
    margin-top: 30px;
    text-align: left;
}
.font{
    margin-right: 365px;
    color: #474747;
    margin-bottom: 10px;
    margin-top: 30px;

}

.university {
    margin-right: 200px;
    color: #757575;
    margin-bottom: 20px;
}
.apple{
    text-align: left;
    color: #757575;
    margin-bottom: 20px;

}

.list {
    font-weight: 400;
    font-size: 16px;
    color: #757575;
    width: 400px;
    margin-bottom: 30px;
    text-align: left;
    
}
.technologies{
    color: #757575;
    width: 400px;
    margin-bottom: 30px;
    text-align: left;

}
.btn-download{
    margin-top: 50px;
    text-align: center;
}
.download{
    background: #FD6E0A;
}